.list-syndromes{
	margin: 25px 0 20px 20px;
	display: flex;
	list-style-type: none;
}
.list-syndromes span{
	margin: 0 20px 0 40px;
}
.list-syndromes span li{
	margin: 0 0 7px 0;
	width: 450px;
	text-align: center;
}

.list-syndromes span li a{
	font-size: 26px;
	width: 100%;
	font-family: Arial;
	font-weight: bold;
	letter-spacing: -1px;
	background-color:rgb(247, 183, 87);
	padding: 5px 6px; 
	display: inline-block;
	outline: 1px black solid;
	border-bottom: 2px solid rgb(217, 153, 57);
	border-top: 2px solid rgb(267, 203, 107);
	transition: 0.2s;
	color: rgb(30,30,30);
	box-shadow: 0 2px 2px grey;
}	

.list-syndromes a:hover{
	transform: translate(4px,0) scale(1.029);
	color: black;
}
.list-syndromes a:active{
	transform: scale(1);
	box-shadow: none;
}
